*                               text=auto
src/PHP_CodeSniffer/src/Standards/Generic/Tests/Files/LineEndingsUnitTest.css    text    eol=crlf
src/PHP_CodeSniffer/src/Standards/Generic/Tests/Files/LineEndingsUnitTest.js     text    eol=crlf
